body {
    background-image: url("../images/background.png");
    background-color: #343434;
    text-align: center;
    color: #373435;
    padding: 120px 120px 50px 120px;
}
h1 {
    text-transform: uppercase;
}
.content {
    position: relative;
    background-color: #ebebeb;
    padding-top: 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.full-round-border {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: -14px 12px 0px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -14px 12px 0px 0px rgba(0, 0, 0, 0.18);
    box-shadow: -14px 12px 0px 0px rgba(0, 0, 0, 0.18);
}
.half-round-border {
    border-radius: 10px 0px 10px 10px;
    -moz-border-radius: 10px 0px 10px 10px;
    -webkit-border-radius: 10px 0px 10px 10px;
    -webkit-box-shadow: -14px 12px 0px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -14px 12px 0px 0px rgba(0, 0, 0, 0.18);
    box-shadow: -14px 12px 0px 0px rgba(0, 0, 0, 0.18);
}
.shadow {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 0px solid #000000;
    -webkit-box-shadow: -3px 6px 0px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: -3px 6px 0px 0px rgba(0, 0, 0, 0.18);
    box-shadow: -3px 6px 0px 0px rgba(0, 0, 0, 0.18);
}
.hat {
    background-color: #ebebeb;
    font-size: 70px;
    position: relative;
    top: -50px;
    padding: 30px;
}
.menu {
    margin-top: 20px;
    font-size: 25px;
    padding-bottom: 20px;
}
.menu a {
    color: #d3d3d3;
    position: relative;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    text-decoration: none;
}
a.first {
    color: red;
}
a:hover {
    color: orange;
}
a.first:hover {
    color: pink;
}
.banner {
    background-image: url("../images/banner-red-2.jpg");
    background-position: 79% 17%;
    background-color: #ed3237;
    padding: 100px;
    margin: 30px;
    margin-bottom: 70px;
}
.topic {
    font-size: 3em;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
}
.text {
    color: #919191;
    padding-bottom: 50px;
}
a.link-decorator {
    background-color: #ed3237;
    text-decoration: none;
    color: white;
    padding: 5px;
    -webkit-border-radius: 5px;
    margin-right: 44px;
}
.read-more-panel {
    display: flex;
    margin-bottom: 50px;
}

/* fix for IE 11
.read-more-panel .read-more-row.link {
  position: relative;
  top: 10px
}*/
.read-more-panel .read-more-row {
    margin: auto;
}
.read-more-panel .read-more-row:nth-child(odd) {
    width: 40%;
}

/* TODO: Rewrite read-more-panel to float */

.read-more-row-float {
  display: inline-block;
  float: left;
  margin: 2% 2%;
}

.read-more-about-btn {
  position: relative;
  top: 40px;
  left: 30px;
  width: auto;
  margin: 0 3%;
}
.read-more-row-float:nth-child(odd) {
  float: left;
  width: 40%;
}

/* TODO: WTF!? */
.read-more-row-float.left-line {
  margin-right: 0%;
}

.lines:first-child {
  margin-right: 0%;
  padding-left: 3%;
  margin-right: 0%;
}
.lines:last-child {
  margin-left: 1%;
  padding-right: 0px;
  /*width: 42%;*/
}

.about-panel {
  display: flex;
  flex-direction: row;
}

.about-panel .about-panel-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding: 15px 35px;
}

.icon {
  color: white;
  background-color: #373435;
  font-size: 2em !important;
  padding: 20px;
}

.more-info-btn {
    text-transform: uppercase;
    text-decoration: none;
    color: #373435;
    font-size: 1.2em;
}
.more-info-btn span {
    color: red;
}
.content .end-of-topic {
    color: #919191;
    padding: 0 3% 3% 3%;
}
.serices-panel {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0% 20%;
    margin-top: -3%;
}


.serices-panel .item {
    margin: 30px;
    background-color: #e2e2e2;
}
.serices-panel .item img {
    width: 100%;
    padding-bottom: 15px;
}
.serices-panel .item h3 {
    text-transform: uppercase;
    padding-left: 10%;
}
.serices-panel .item .text {
    padding-bottom: 20px;
    padding-left: 10%;
}
.read-more-btn {
    text-decoration: none;
    color: #373435;
    padding-left: 10%;
    text-transform: uppercase;
}
.read-more-btn span {
    text-transform: uppercase;
    color: red;
}
.products span {
    text-transform: uppercase;
    color: #ed3237;
}

/*Solving Mastering margin collapsing*/

#q {
    margin-bottom: 20px;
}
#w {
    margin-top: 8px;
    margin-bottom: 20px;
}
#e {
    margin-top: 5px;
}
.products .products-panel {
    display: flex;
    height: 30px;
    padding: 0 20%;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 50px;
}
.products-panel .item {
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 5px;
    background-color: #e2e2e2;
    -webkit-border-radius: 3px;
    border: 0.1px solid #e2e2e2;
    padding: 0 10px;
}
footer {
    color: white;
    position: static;
    margin-top: 50px
}

@media (max-width: 1080px) {
  .read-more-row-float:nth-child(2n+1){
    width: 35%;
  }
  .read-more-about-btn {
    margin-right: 2%;
    top:22px;
  }
  .lines:last-child {
    width: 35%;
  }
  .read-more-row-float.left-line {
    margin-right: -2%;
  }

  .link-decorator {
    margin-right: 0px;
  }
    .serices-panel {
        padding: 0;
    }
}
